<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
<link rel="stylesheet" href="/cart/cartcss/cart.css">
</head>

<body>
<div class="container">
    <h1>장바구니 리스트</h1>
    <table class="cart-table">
        <thead>
        <tr>
            <th>장바구니 번호</th>
            <th>사용자 번호</th>
            <th>상품 번호</th>
            <th>수량</th>
            <th>작업</th>  <!-- 수정, 삭제 버튼 -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="cart : ${cartItems}">
            <td th:text="${cart.cartNo}"></td>
            <td th:text="${cart.userNo}"></td>
            <td th:text="${cart.productNo}"></td>
            <td th:text="${cart.cartCount}"></td>
            <td>
                <form th:action="@{/cart/update/{cartNo}(cartNo=${cart.cartNo})}" method="post" class="inline-form">
                    <input type="hidden" name="userNo" th:value="${cart.userNo}" />
                    <input type="text" name="productNo" th:value="${cart.productNo}" class="small-input"/>
                    <input type="number" name="cartCount" th:value="${cart.cartCount}" class="small-input"/>
                    <button type="submit" class="btn btn-edit">수정</button>
                </form>
                <form th:action="@{/cart/delete}" method="post" class="inline-form">
                    <input type="hidden" name="cartNo" th:value="${cart.cartNo}" />
                    <input type="hidden" name="userNo" th:value="${cart.userNo}" />
                    <button type="submit" class="btn btn-delete">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 이건 어떤 기능으로 있는거 ? -->
    <h2>장바구니 항목 추가</h2>
    <form th:action="@{/cart/create}" method="post" class="add-form">
        <div class="form-group">
            <label for="cartNo">장바구니 번호:</label>
            <input type="number" id="cartNo" name="cartNo" />
        </div>
        <div class="form-group">
            <label for="userNo">사용자 번호:</label>
            <input type="number" id="userNo" name="userNo" />
        </div>
        <div class="form-group">
            <label for="productNo">상품 번호:</label>
            <input type="text" id="productNo" name="productNo" />
        </div>
        <div class="form-group">
            <label for="cartCount">수량:</label>
            <input type="number" id="cartCount" name="cartCount" />
        </div>
        <button type="submit" class="btn btn-add">추가</button>
    </form>
</div>
</body>
</html>