<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Create Order</h1>
<form action="/orders" method="post">
    <label for="ordersId">Order ID:</label>
    <input type="text" id="ordersId" name="ordersId"><br>

    <label for="productNo">Product No:</label>
    <input type="text" id="productNo" name="productNo"><br>

    <label for="orderDate">Order Date:</label>
    <input type="text" id="orderDate" name="orderDate"><br>

    <label for="orderUserName">User Name:</label>
    <input type="text" id="orderUserName" name="orderUserName"><br>

    <label for="orderUserPhone">User Phone:</label>
    <input type="text" id="orderUserPhone" name="orderUserPhone"><br>

    <label for="orderUserAdress">User Address:</label>
    <input type="text" id="orderUserAdress" name="orderUserAdress"><br>

    <label for="orderMessage">Message:</label>
    <input type="text" id="orderMessage" name="orderMessage"><br>

    <button type="submit">Create Order</button>
</form>
</body>
</html>
