<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 등록</title>
    <link rel="stylesheet" href="/css/create-question.css">
</head>
<body>

<!-- 헤더 시작 -->
<div class="header">
    <div class="header-top">
        <div>
            <div>LOG-IN</div>
            <div>JOIN + 1,000</div>
            <div>MY PAGE</div>
            <div>ORDER</div>
            <div>CART_0</div>
            <div>(검색아이콘)</div>
        </div>
        <div>
            <div>NOTICE</div>
            <div>Q&A</div>
            <div>REVIEW</div>
            <div>EVENT</div>
            <div>(sns 아이콘)</div>
        </div>
    </div>
    <div class="header-bottom">
        귀여운 로고
    </div>
</div>
<!-- 헤더 끝 -->

<div class="container">
    <h1>질문 등록</h1>
    <form action="#" th:action="@{/question/create}" th:object="${question}" method="post" enctype="multipart/form-data">
        <div class="form-group-row">
            <label for="questionTitle">제목</label>
            <input type="text" id="questionTitle" th:field="*{questionTitle}" required />
        </div>
        <!-- 작성자 부분 나중에 데이터 불러오는걸로 바꿔야함 (지금은 아직 안합쳐서 입력있음) -->
        <div class="form-group-row">
            <label for="userNo">작성자 ID</label>
            <input type="text" id="userNo" th:field="*{userNo}" required />
        </div>
        <div class="form-group-row">
            <label for="questionContent">내용</label>
            <textarea id="questionContent" th:field="*{questionContent}" rows="10" required></textarea>
        </div>
        <div class="form-group-row">
            <label for="file">첨부 파일</label>
            <input type="file" id="file" name="file" accept=".pdf,.doc,.docx,.jpg,.png" required multiple />
        </div>
        <div class="form-group-row">
            <button type="submit" class="btn-primary">등록</button>
            <button type="reset" class="btn-primary" style="background-color: #ccc; margin-left: 10px;" onclick="redirectToQuestion()" >취소</button>
        </div>
    </form>
</div>

<!-- 푸터 시작 -->
<div class="footer">
    <div class="footer-section">
        <div>
            <div>
                <span>CS CENTER<br/>T. 010-1004-1004<br/>OPEN AM 01:00 - PM 24:00<br/><br/>매일 휴무<br/>KAKAOTALK @ 디어바스켓<br/>BANK INFO<br/>카카오뱅크 3333-10-6021763<br/><br/>예금주명 ( 서영호 )<br/>DELIVERY & RETURN<br/></span>
                <span style="text-decoration: underline;">한진택배 1588-0011 [ 배송조회 ]<br/></span>
                <span>반품주소 : 부산시 진구 30번길 20-5 5층 다팔아문구v</span>
            </div>
            <div style="text-align: right;">
                <span>SHOP INFO<br/>Company. 디어바스켓Owner. 이미진<br/>Business License. 712-35-00653<br/>Online License. 2021-충남천안-0081 </span>
                <span style="text-decoration: underline;">[사업자정보확인]<br/></span>
                <span><br/>Tel. 010-8332-4726<br/>Master. 이미진E-mail. </span>
                <span style="text-decoration: underline;">mijin4726@naver.com<br/></span>
                <span>Add. 31572 충청남도 아산시 용화고길30번길 20-5 (용화동)<br/>1층</span>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-text">(C) 디어바스켓. ALL RIGHTS RESERVED  . BY ITSME.   ABOUT US  /  GUIDE  /  AGREEMENT  /  개인정보책임관리<br/><br/>고객님은 안전거래를 위해 현금등으로 결제시 저희 쇼핑몰에서 가입한 구매안전 서비스를 이용하실 수 있습니다.</div>
    </div>
</div>
<!-- 푸터 끝 -->

<script>
    function redirectToQuestion() {
        window.location.href = "/question";
    }
</script>
</body>
</html>