<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Main Page</title>
</head>
<body>
<div class="container">
    <!-- 헤더 시작 -->
    <header class="header">

        <div class="inner">
        <!-- top-bar 시작 -->
        <div class="top-bar">
            <!-- 왼쪽 카테고리 -->
            <div class="top-bar-left">
                <a href="#">LOG-IN</a>
                <a href="#">JOIN</a>
                <a href="#">MY PAGE</a>
                <a href="#">ORDER</a>
                <a href="#">CART</a>
                <!-- 검색 아이콘 -->
                    <img src="images/icon-search.png" alt="검색" id="lo_search">
            </div>

            <!-- 오른쪽 카테고리 -->
            <div class="top-bar-right">
                <a href="#" class="notice">NOTICE</a>
                <a href="#" class="qna">Q&A</a>
                <a href="#" class="review">REVIEW</a>
                <!-- 검색 아이콘 -->
                <a href="https://instagram.com/" target="_blank">
                    <img src="images/icon-instagram.png" alt="인스타그램" id="lo_sns">
                </a>
            </div>

        </div>
        <!-- top-bar 끝 -->

            <!-- 로고 -->
            <div class="top-bar-center">
                <img src="/images/logo.PNG" alt="Logo" class="logo">
            </div>
        </div>
        <!-- inner End -->

        <!-- 메인 네비게이션 -->
        <nav class="main-nav">
            <ul class="main-nav-li">
                <li><a href="#">홈</a></li>
                <li><a href="#">카탈로그</a></li>
                <li><a href="#">브랜드 스토리</a></li>
                <li><a href="#">제품 검색</a></li>
                <li><a href="#">고객 센터</a></li>
            </ul>
        </nav>
    </header>
    <!-- 헤더 끝 -->

    <!-- 메인 컨텐츠 시작 -->
    <main class="main-content">
        <section class="banner">
            <img src="/images/main.PNG" alt="main" class="banner-img">
        </section>

    <div class="items">

        <div class="h2-new">
        <h2 class="new-text">NEW</h2>
        </div>

        <div class="All-item">
            <ul class="prdList grid4">

<!--                <li id="item1" class="main-record">-->
<!--                    <div class="thumbnail">-->

<!--                        &lt;!&ndash; 상품 이미지 &ndash;&gt;-->
<!--                        <div class="prdImg">-->
<!--                            <div class="sold_wrap">-->
<!--                                <div class="sold_txt">-->
<!--                                    <span></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; 상품 이미지 링크 &ndash;&gt;-->
<!--                            <a href="/prod/products" name="anchorBoxName_1133">-->
<!--                                &lt;!&ndash; 상품 이미지 &ndash;&gt;-->
<!--                                <img src="//dear-basket.com/web/product/medium/202406/b3efb5e0d3901d6aa820750aca789c38.jpg" id="eListPrdImage1133_3" alt="미피 타포린백">-->
<!--                                &nbsp;-->
<!--                            </a>-->

<!--                            &lt;!&ndash; 아이콘들 &ndash;&gt;-->
<!--                            <div class="p_over_icon">-->
<!--                                &lt;!&ndash; 장바구니 아이콘 &ndash;&gt;-->
<!--                                    <div class="over_bt_icon">-->
<!--                                        <img src="/images/icon-cart.png" alt="장바구니 담기" class="ec-admin-icon cart">-->
<!--                                    </div>-->
<!--&lt;!&ndash;                                    <div class="likeButton displaynone"><button type="button"><strong></strong></button></div>&ndash;&gt;-->
<!--                                &lt;!&ndash; 위시 찜 아이콘 (우측 상단) &ndash;&gt;-->
<!--                                <div class="over_wish">-->
<!--                                    <img src="/images/icon-heart.png" alt="기능은 없는 찜" class="icon_img ec-product-listwishicon" productno="1133" categoryno="1" icon_status="off" login_status="T" individual-set="F">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 상품 이미지 끝 &ndash;&gt;-->

<!--                    &lt;!&ndash; 상품 설명 &ndash;&gt;-->
<!--                    <div class="description">-->
<!--                        <div class="color displaynone">-->
<!--                        </div>-->

<!--                        <strong class="name">-->
<!--                            <a href="/prod/products" class="">-->
<!--                                <span style="font-size:12px;color:#222222;">Miffy 미피 타포린백</span>-->
<!--                            </a>-->
<!--                        </strong>-->

<!--                        <ul class="price">-->
<!--                            <li rel="판매가" class=" xans-record-">-->
<!--                            <strong class="title displaynone">-->
<!--                                <span style="font-size:12px;color:#222222;font-weight:bold;">판매가</span>-->
<!--                                </strong>-->
<!--                                <span style="font-size:12px;color:#222222;font-weight:bold;">4,000원</span>-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <div class="icon">-->
<!--                            <div class="promotion"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; 상품 설명 끝 &ndash;&gt;-->
<!--                </li>-->
<!--                &lt;!&ndash; 한 상품 끝 &ndash;&gt;-->





                <div class="xans-element- xans-product xans-product-listmain-2 xans-product-listmain xans-product-2 ec-base-product">
                    <ul class="prdList grid4">
                        <li id="anchorBoxId_1131" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap">
                                        <div class="sold_txt">
                                        <span></span>
                                        </div>
                                    </div>
                                    <a href="/product/miffy-미피-타포린백/1133/category/1/display/3/" name="anchorBoxName_1133">
                                        <img src="//dear-basket.com/web/product/medium/202406/b3efb5e0d3901d6aa820750aca789c38.jpg" id="eListPrdImage1133_4" alt="미피 타포린백">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon">
                                                <img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1133,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart"><img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1133', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기"></div>
                                            <div class="likeButton displaynone"><button type="button"><strong></strong></button></div>
                                        </div>
                                        <div class="over_wish"><img src="/web/upload/icon_202104201251460700.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 후" productno="1133" categoryno="1" icon_status="on" login_status="T" individual-set="F"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name"><a href="/product/miffy-미피-타포린백/1133/category/1/display/3/" class=""><span class="title displaynone"><span style="font-size:12px;color:#222222;">상품명</span> : </span> <span style="font-size:12px;color:#222222;">Miffy 미피 타포린백</span></a></strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec"><li rel="판매가" class=" xans-record-">
                                    <strong class="title displaynone"><span style="font-size:12px;color:#222222;font-weight:bold;">판매가</span> :</strong> <span style="font-size:12px;color:#222222;font-weight:bold;">4,000원</span><span id="span_product_tax_type_text" style=""> </span></li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>
<!--                        -->

                        <li id="anchorBoxId_1132" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap"><div class="sold_txt"><span></span></div></div>
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" name="anchorBoxName_1132">
                                        <img src="//dear-basket.com/web/product/medium/202406/cf758ae3f625686c3c0ea45f8444f0ec.jpg" id="eListPrdImage1132_3" alt="디어바스켓">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon"><img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1132,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart">
                                                <img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1132', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기">
                                            </div>
                                            <div class="likeButton displaynone">
                                                <button type="button">
                                                    <strong></strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="over_wish">
                                            <img src="/web/upload/icon_202104201251438400.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="1132" categoryno="1" icon_status="off" login_status="T" individual-set="F">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name">
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" class="">
                                        <span class="title displaynone">
                                            <span style="font-size:12px;color:#222222;">상품명
                                            </span> : </span>
                                        <span style="font-size:12px;color:#222222;">250% 럭키박스
                                        </span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
                                    <li rel="상품요약정보" class=" xans-record-">
                                    <strong class="title displaynone">
                                        <span style="font-size:12px;color:#aaaaaa;">
                                            상품요약정보
                                        </span> :</strong>
                                        <span style="font-size:12px;color:#aaaaaa;">상품을 선택하면 가격이 보여요 :)
                                        </span>
                                    </li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>

                        <li id="anchorBoxId_1137" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap"><div class="sold_txt"><span></span></div></div>
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" name="anchorBoxName_1132">
                                        <img src="//dear-basket.com/web/product/medium/202406/cf758ae3f625686c3c0ea45f8444f0ec.jpg" id="eListPrdImage1132_3" alt="디어바스켓">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon"><img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1132,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart">
                                                <img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1132', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기">
                                            </div>
                                            <div class="likeButton displaynone">
                                                <button type="button">
                                                    <strong></strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="over_wish">
                                            <img src="/web/upload/icon_202104201251438400.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="1132" categoryno="1" icon_status="off" login_status="T" individual-set="F">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name">
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" class="">
                                        <span class="title displaynone">
                                            <span style="font-size:12px;color:#222222;">상품명
                                            </span> : </span>
                                        <span style="font-size:12px;color:#222222;">250% 럭키박스
                                        </span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
                                    <li rel="상품요약정보" class=" xans-record-">
                                        <strong class="title displaynone">
                                        <span style="font-size:12px;color:#aaaaaa;">
                                            상품요약정보
                                        </span> :</strong>
                                        <span style="font-size:12px;color:#aaaaaa;">상품을 선택하면 가격이 보여요 :)
                                        </span>
                                    </li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>

                        <li id="anchorBoxId_1136" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap"><div class="sold_txt"><span></span></div></div>
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" name="anchorBoxName_1132">
                                        <img src="//dear-basket.com/web/product/medium/202406/cf758ae3f625686c3c0ea45f8444f0ec.jpg" id="eListPrdImage1132_3" alt="디어바스켓">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon"><img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1132,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart">
                                                <img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1132', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기">
                                            </div>
                                            <div class="likeButton displaynone">
                                                <button type="button">
                                                    <strong></strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="over_wish">
                                            <img src="/web/upload/icon_202104201251438400.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="1132" categoryno="1" icon_status="off" login_status="T" individual-set="F">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name">
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" class="">
                                        <span class="title displaynone">
                                            <span style="font-size:12px;color:#222222;">상품명
                                            </span> : </span>
                                        <span style="font-size:12px;color:#222222;">250% 럭키박스
                                        </span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
                                    <li rel="상품요약정보" class=" xans-record-">
                                        <strong class="title displaynone">
                                        <span style="font-size:12px;color:#aaaaaa;">
                                            상품요약정보
                                        </span> :</strong>
                                        <span style="font-size:12px;color:#aaaaaa;">상품을 선택하면 가격이 보여요 :)
                                        </span>
                                    </li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>

                        <li id="anchorBoxId_1133" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap"><div class="sold_txt"><span></span></div></div>
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" name="anchorBoxName_1132">
                                        <img src="//dear-basket.com/web/product/medium/202406/cf758ae3f625686c3c0ea45f8444f0ec.jpg" id="eListPrdImage1132_3" alt="디어바스켓">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon"><img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1132,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart">
                                                <img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1132', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기">
                                            </div>
                                            <div class="likeButton displaynone">
                                                <button type="button">
                                                    <strong></strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="over_wish">
                                            <img src="/web/upload/icon_202104201251438400.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="1132" categoryno="1" icon_status="off" login_status="T" individual-set="F">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name">
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" class="">
                                        <span class="title displaynone">
                                            <span style="font-size:12px;color:#222222;">상품명
                                            </span> : </span>
                                        <span style="font-size:12px;color:#222222;">250% 럭키박스
                                        </span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
                                    <li rel="상품요약정보" class=" xans-record-">
                                        <strong class="title displaynone">
                                        <span style="font-size:12px;color:#aaaaaa;">
                                            상품요약정보
                                        </span> :</strong>
                                        <span style="font-size:12px;color:#aaaaaa;">상품을 선택하면 가격이 보여요 :)
                                        </span>
                                    </li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>

                        <li id="anchorBoxId_1134" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap"><div class="sold_txt"><span></span></div></div>
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" name="anchorBoxName_1132">
                                        <img src="//dear-basket.com/web/product/medium/202406/cf758ae3f625686c3c0ea45f8444f0ec.jpg" id="eListPrdImage1132_3" alt="디어바스켓">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon"><img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1132,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart">
                                                <img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1132', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기">
                                            </div>
                                            <div class="likeButton displaynone">
                                                <button type="button">
                                                    <strong></strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="over_wish">
                                            <img src="/web/upload/icon_202104201251438400.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="1132" categoryno="1" icon_status="off" login_status="T" individual-set="F">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name">
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" class="">
                                        <span class="title displaynone">
                                            <span style="font-size:12px;color:#222222;">상품명
                                            </span> : </span>
                                        <span style="font-size:12px;color:#222222;">250% 럭키박스
                                        </span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
                                    <li rel="상품요약정보" class=" xans-record-">
                                        <strong class="title displaynone">
                                        <span style="font-size:12px;color:#aaaaaa;">
                                            상품요약정보
                                        </span> :</strong>
                                        <span style="font-size:12px;color:#aaaaaa;">상품을 선택하면 가격이 보여요 :)
                                        </span>
                                    </li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>

                        <li id="anchorBoxId_1135" class="xans-record-">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <div class="sold_wrap"><div class="sold_txt"><span></span></div></div>
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" name="anchorBoxName_1132">
                                        <img src="//dear-basket.com/web/product/medium/202406/cf758ae3f625686c3c0ea45f8444f0ec.jpg" id="eListPrdImage1132_3" alt="디어바스켓">
                                        &nbsp;
                                    </a>
                                    <div class="p_over_icon">
                                        <div class="over_desc">
                                            <div class="over_bt_icon"><img src="/web/upload/icon_202104201251367700.png" onclick="CAPP_SHOP_NEW_PRODUCT_OPTIONSELECT.selectOptionCommon(1132,  1, 'basket', '')" alt="장바구니 담기" class="ec-admin-icon cart">
                                                <img src="/web/upload/icon_202104201251320700.png" onclick="zoom('1132', '1', '3','', '');" style="cursor:pointer" alt="상품 큰 이미지 보기">
                                            </div>
                                            <div class="likeButton displaynone">
                                                <button type="button">
                                                    <strong></strong>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="over_wish">
                                            <img src="/web/upload/icon_202104201251438400.png" class="icon_img ec-product-listwishicon" alt="관심상품 등록 전" productno="1132" categoryno="1" icon_status="off" login_status="T" individual-set="F">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div class="color displaynone">
                                </div>
                                <strong class="name">
                                    <a href="/product/250-럭키박스/1132/category/1/display/3/" class="">
                                        <span class="title displaynone">
                                            <span style="font-size:12px;color:#222222;">상품명
                                            </span> : </span>
                                        <span style="font-size:12px;color:#222222;">250% 럭키박스
                                        </span>
                                    </a>
                                </strong>
                                <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec">
                                    <li rel="상품요약정보" class=" xans-record-">
                                        <strong class="title displaynone">
                                        <span style="font-size:12px;color:#aaaaaa;">
                                            상품요약정보
                                        </span> :</strong>
                                        <span style="font-size:12px;color:#aaaaaa;">상품을 선택하면 가격이 보여요 :)
                                        </span>
                                    </li>
                                </ul>
                                <div class="icon">
                                    <div class="promotion"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
    </div>
            </ul>

        </div>
    </div>
    </main>



    <!-- footer 시작 -->
    <footer class="footer">
        <div class="footer-info">
            <div class="customer-service">
<!--                <p>-->
<!--                    CS CENTER<br>-->
<!--                    T. 010-1004-1004<br>-->
<!--                    OPEN AM 01:00 - PM 24:00<br>-->
<!--                    매일 휴무<br>-->
<!--                    KAKAOTALK @ 디어바스켓<br>-->
<!--                    BANK INFO<br>-->
<!--                    카카오뱅크 3333-10-6021763<br>-->
<!--                    예금주명 ( 서영호 )<br>-->
<!--                    DELIVERY & RETURN<br>-->
<!--                    한진택배 1588-0011 [ 배송조회 ]<br>-->
<!--                    반품주소 : 부산시 진구 30번길 20-5 5층 다팔아문구v-->
<!--                </p>-->
            </div>
            <div class="shop-info">
<!--                <p>-->
<!--                    SHOP INFO<br>-->
<!--                    Company. 디어바스켓 Owner. 이미진<br>-->
<!--                    Business License. 712-35-00653<br>-->
<!--                    Online License. 2021-충남천안-0081  [사업자정보확인]<br>-->
<!--                    Tel. 010-8332-4726<br>-->
<!--                    Master. 이미진 E-mail.  mijin4726@naver.com<br>-->
<!--                    Add. 31572 충청남도 아산시 용화고길30번길 20-5 (용화동) 1층-->
<!--                </p>-->
            </div>
        </div>
        <div class="footer-bottom">
<!--            <p>(C) DAPALA. ALL RIGHTS RESERVED . BY ITSME. ABOUT US / GUIDE / AGREEMENT / 개인정보책임관리</p>-->
        </div>
    </footer>
</div>

</body>
</html>