<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<form th:action="@{/mypage/update}" th:object="${user}" method="post">
    <p>ID: <span th:text="${user.userId}"></span></p>
    <input type="hidden" th:field="*{userNo}"/>
    <input type="hidden" th:field="*{userId}"/>
    <p>Name: <input type="text" th:field="*{userName}"/></p>
    <p>address: <input type="text" th:field="*{userAddress}"/></p>
    <p>Password: <input type="password" th:field="*{userPw}"/></p>
    <button type="submit">Update</button>
</form>
</body>
</html>