<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Mall</title>
    <link rel="stylesheet" th:href="@{/product.css}">
</head>
<body>
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close-button" onclick="closePopup()">&times;</span>
        <p>This is a closable popup window.</p>
    </div>
</div>
<header>
    <h1><a href="/prod/products">DAPALA</a></h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/prod/list">관리자 상품 추가</a></li>

        </ul>
        <ul>
            <li><a href="/register">Sign In</a></li>
            <li><a href="/login">Sign Up</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">My Page</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Order</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="products">
        <a href="/prod/products">ALL</a>
        <a href="/prod/products?category=산리오">산리오</a>
        <a href="/prod/products?category=실바니안 패밀리">실바니안 패밀리</a>
        <a href="/prod/products?category=레고">레고</a>
        <a href="/prod/products?category=카우스">카우스</a>
        <a href="/prod/products?category=베어브릭">베어브릭</a>
    </section>

    <section class="products">
        <h2>ALL Products</h2>
        <div th:each="product : ${products}" class="product-item" data-category="${product.categoryName}">
            <h3 th:text="${product.productNo}">Product Number</h3>
            <h3><a th:href="@{/prod/detail/{id}(id=${product.productNo})}" th:text="${product.productName}">Product No</a></h3>
            <p class="price" th:text="${product.productPrice} + '원'">Price</p>

            <img th:src="@{'/images/' + ${product.productImageName}}" width="150" alt="상품 사진">
            <button>Add to Cart</button>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2024 dapala Shopping Mall. All rights reserved.</p>
</footer>
<script src="/js/product.js"></script>
</body>
</html>
