<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정</title>
    <link rel="stylesheet" th:href="@{/update.css}">
</head>
<body>
<form id="updateProductForm" th:action="@{/prod/update/{id}(id=${product.productNo})}" method="post" enctype="multipart/form-data">
    <div>
        <label for="productCondition">상품 상태:</label>
        <select id="productCondition" name="productCondition" th:value="${product.productCondition}" required>
            <option value="판매 예정">판매 예정</option>
            <option value="판매 중">판매 중</option>
            <option value="판매 금지">판매 금지</option>
            <option value="품절">품절</option>
        </select>
    </div>
    <div>
        <label for="categoryName">카테고리:</label>
        <select id="categoryName" name="categoryName" th:value="${product.categoryName}">
            <option value="식품">식품</option>
            <option value="패션">패션</option>
            <option value="홈리빙">홈리빙</option>
            <option value="뷰티">뷰티</option>
            <option value="전자제품">전자제품</option>
        </select>
    </div>
    <div>
        <label for="productName">상품명:</label>
        <input type="text" id="productName" name="productName" th:value="${product.productName}" required>
    </div>
    <div>
        <label for="productContent">상품 설명:</label>
        <textarea id="productContent" name="productContent" rows="8" cols="1000" th:text="${product.productContent}" required></textarea>
    </div>
    <div>
        <label for="productPrice">가격:</label>
        <input type="text" id="productPrice" name="productPrice" th:value="${product.productPrice}" required>
    </div>
    <div id="optionsContainer">
        <!-- 옵션들이 여기에 추가됨 -->
    </div>
    <div>
        <button type="button" onclick="addOption()">옵션 추가</button>
    </div>
    <div>
        <label for="prodImage">상품 이미지:</label>
        <input type="file" id="prodImage" name="prodImage" accept="image/*">
    </div>
    <div>
        <button type="submit">상품 수정</button>
    </div>
    <div>
        <a href="/prod/list" class="button">리스트로 이동</a>
    </div>
</form>
<script src="/js/update.js"></script>
</body>
</html>