<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 등록</title>
</head>
<body>

<h1>질문 등록</h1>

<form action="#" th:action="@{/question/update/{question_no}(question_no=${question.question_no})}" th:object="${question}" method="post">
    <div>
        <label for="questionTitle">제목:</label>
        <input type="text" id="questionTitle" th:field="*{question_title}" required />
    </div>
    <div>
        <label for="questionContent">내용:</label>
        <textarea id="questionContent" th:field="*{question_content}" required></textarea>
    </div>
    <div>
        <label for="userId">작성자 ID:</label>
        <input type="text" id="userId" th:field="*{user_no}" disabled />
        <!-- 숨겨진 필드로 user_no 추가 -->
        <input type="hidden" th:field="*{user_no}" />
    </div>
    <div>
        <button type="submit">수정하기</button>
    </div>
</form>

</body>
</html>